#header {
  height: 50px;
  background: #04364A ;
  color: #fff;
}

#branding h1 {
  color: #fff;
}

a:link,
a:visited {
  color:#fff;
}

div.breadcrumbs {
  background: #a4e1e9;
  color: #04364A ;
}

div.breadcrumbs a {
  color: #333;
}

div.breadcrumbs a:hover {
  color: #000000;
}

.module h2, .module caption, .inline-group h2 {
  background: #a4e1e9;
}

.module caption a{
  color: #04364A !important;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: #04364A !important;
  color: #fff;
}

.current-model{
  background-color: #04364A !important;
}