<!-- Footer -->
<!-- <footer id="main-footer" class="py-4 bg-primary text-white text-center">
    Copyright &copy;
    <span class="year"></span> Apex Homes
</footer> -->
{% load static %}

<div class="container">
	<footer
		class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top"
	>
		<div class="col mb-3">
			<a
				href="/"
				class="d-flex align-items-center mb-3 link-dark text-decoration-none"
			>
            <img src="{% static 'img/logo2.png' %}" alt="BT Real Estate" style="width: 100px;">
            <!-- <svg class="bi me-2" width="40" height="32">
					<use xlink:href="#bootstrap" />
				</svg> -->
			</a>
			<p class="text-muted">&copy; 2022</p>
		</div>

		<div class="col mb-3"></div>

		<div class="col mb-3">
			<h5>Homes</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Homes</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Buy House</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Sell House</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Rent House</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Search Houses</a>
				</li>
			</ul>
		</div>

		<div class="col mb-3">
			<h5>Hotels</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Hotels</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Rent Hotel</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">List Hotel</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Search Hotels</a>
				</li>
			</ul>
		</div>

		<div class="col mb-3">
			<h5>Apex Homes</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Home</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">About Us</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Contact Us</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">FAQs</a>
				</li>
			</ul>
		</div>
	</footer>
</div>
