{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Gateway</title>
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/b481283466.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <form action="" method="post">
    <div class="container d-flex justify-content-center" style="align-items: center;">


            {% csrf_token %}
        <div class="row g-3">

            <div class="col-md-6">

                <span>Payment Method</span>
                <div class="card">

                    <div class="accordion" id="accordionExample">

                        <div class="card">
                            <div class="card-header p-0" id="headingTwo">
                                <h2 class="mb-0">
                                    <button
                                        class="btn btn-light btn-block text-left collapsed p-3 rounded-0 border-bottom-custom"
                                        type="button" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        <div class="d-flex align-items-center justify-content-between">

                                            <span>Paypal</span>
                                            <img src="https://i.imgur.com/7kQEsHU.png" width="30">

                                        </div>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <input type="text" class="form-control" placeholder="Paypal email">
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header p-0">
                                <h2 class="mb-0">
                                    <button class="btn btn-light btn-block text-left p-3 rounded-0"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        <div class="d-flex align-items-center justify-content-between">

                                            <span>Credit card</span>
                                            <div class="icons">
                                                <img src="https://i.imgur.com/2ISgYja.png" width="30">
                                                <img src="https://i.imgur.com/W1vtnOV.png" width="30">
                                                <img src="https://i.imgur.com/35tC99g.png" width="30">
                                                <img src="https://i.imgur.com/2ISgYja.png" width="30">
                                            </div>

                                        </div>
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body payment-card-body">

                                    <span class="font-weight-normal card-text">Card Number</span>
                                    <div class="input">

                                        <i class="fa fa-credit-card"></i>
                                        <input type="text" class="form-control" placeholder="0000 0000 0000 0000">

                                    </div>

                                    <div class="row mt-3 mb-3">

                                        <div class="col-md-6">

                                            <span class="font-weight-normal card-text">Expiry Date</span>
                                            <div class="input">

                                                <i class="fa fa-calendar"></i>
                                                <input type="text" class="form-control" placeholder="MM/YY">

                                            </div>

                                        </div>


                                        <div class="col-md-6">

                                            <span class="font-weight-normal card-text">CVC/CVV</span>
                                            <div class="input">

                                                <i class="fa fa-lock"></i>
                                                <input type="text" class="form-control" placeholder="000">

                                            </div>

                                        </div>


                                    </div>

                                    <span class="text-muted certificate-text"><i class="fa fa-lock"></i> Your
                                        transaction is secured with ssl certificate</span>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <span>Summary</span>

                <div class="card">

                    <div class="d-flex justify-content-between p-3">

                        <div class="d-flex flex-column">

                            <span>{{listing.title}}</span>
                            <!-- <a href="#" class="billing">Save 20% with annual billing</a> -->

                        </div>

                        <div class="mt-1">
                            <span>₹{{listing.price}}</span>
                            <span class="super-month">/ Day</span>
                        </div>

                    </div>

                    <hr class="mt-0 line">

                    <div class="p-3">

                        <div class="d-flex justify-content-between mb-2">

                            <span style="margin-bottom: 0.5rem;">Amount</span>
                            <span>₹{{listing.price}} x {{days}}</span>

                        </div>

                        <div class="d-flex justify-content-between">

                            <span>Taxes</span>
                            <span>+0</span>

                        </div>


                    </div>

                    <hr class="mt-0 line">


                    <div class="p-3 d-flex justify-content-between">

                        <div class="d-flex flex-column">

                            <span>Total Billed Amount</span>
                            <!-- <small>After 30 days $9.59</small> -->

                        </div>
                        <sup class="super-price">₹{% widthratio listing.price 1 days %}</sup>
                        <input type="hidden" name="amount" value="{% widthratio listing.price 1 days %}">
                        <input type="hidden" name="listing_id" value="{{listing.id}}">
                        <input type="hidden" name="check_in" value="{{check_in}}">
                        <input type="hidden" name="check_out" value="{{check_out}}">
                    </div>


                    <div class="p-3">

                        <input type="submit" class="btn btn-primary btn-block free-button" value="Pay →">
                        <div class="text-center" style="margin: 1.5rem 0 0.5rem 0;">
                            <a href="#">Have a promo code?</a>
                        </div>

                    </div>




                </div>
            </div>

        </div>
        
    </div>
</form>

</body>

</html>











<!-- 

<form id="paymentForm" method="post">
    {% csrf_token %}
    <label for="amount">Amount: </label>
    <input type="number" id="amount" name="amount" step="0.01" required>
    <button type="submit" onclick="submitForm(this)">Make Payment</button>
</form>

<div id="paymentResult"></div>

<script>
    function submitForm(event)
    {
    event.preventDefault();
    var amount = document.getElementById('amount').value;

    fetch('/process-payment/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({ amount: amount })
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById('paymentResult').innerHTML = data.message;
    });
};

// Function to get CSRF token for the POST request
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script> -->